<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>Mật khẩu</title>
</head>

<body>
<div layout:fragment="content">
    <div layout:insert="~{components :: form(title='Mật khẩu')}">
        <div layout:fragment="form-errors">
        </div>
        <form
                action="#"
                class="text-sm flex flex-col w-2/3 gap-2"
                layout:fragment="form-content"
                method="post"
                th:action="@{/user/password-reset(email=${requestedEmail})}"
                th:object="${passwordResetForm}"
        >
            <div class="flex focus-within:ring-[#3498db] ring-2 rounded ring-transparent shadow-none bg-slate-700">
                <label class="min-w-[2rem] flex justify-center items-center" for="password"><i
                        class="fa-solid fa-lock"></i></label>
                <input
                        class="bg-transparent p-1 px-1 shadow-none grow text-neutral-100 outline-none rounded caret-[#3498db]"
                        id="password"
                        name="password"
                        placeholder="Mật khẩu mới"
                        th:field="*{newPassword}" type="password"/>

            </div>
            <div class="flex focus-within:ring-[#3498db] ring-2 rounded ring-transparent shadow-none bg-slate-700">
                <label class="min-w-[2rem] flex justify-center items-center" for="password-again"><i
                        class="fa-solid fa-lock"></i></label>
                <input
                        class="bg-transparent p-1 px-1 shadow-none grow text-neutral-100 outline-none rounded caret-[#3498db]"
                        id="password-again"
                        placeholder="Nhập lại mật khẩu mới"
                        type="password"/>

            </div>

            <div class="flex mt-8">
                <input class="mx-auto rounded border-2 border-transparent hover:border-[#1e5154] hover:bg-slate-900 cursor-pointer w-full h-full p-1 bg-slate-700"
                       type="submit" value="Đặt lại"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>